
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|VT323|Quicksand|IM+Fell+English+SC');

@font-face {
  font-family: 'Galano';
  src: url('/assets/fonts/Galano Grotesque DEMO Bold.otf');
}

.container {
	background-color: white;
	width: 100%;
	height: 100%;
}

.heading {
	display: block;
	margin: auto;
	width: 600px;
	margin-top: 1.5em;

	font-family: 'Galano', 'Roboto', sans-serif;
	font-size: 99px;
	color: #7a5de2;
}

.subheading {
    /*position:absolute;*/
    z-index: 0;

    display: block;
    margin: auto;
    width: 600px;
    margin-top: 0;
    margin-bottom: 1em;

    text-align: center;
    font-family: 'VT323', 'Quicksand', sans-serif;
    font-size: 34px;
    color: #7a5de2;
}
.portfolio {
  width: 600px;
  display: block;
  margin: auto;
}

.codeIcon {
/*  position: absolute;
  z-index: 0 !important;
  left: 1.85em;
  top: 3.3em;*/

  display: block;
  float: left;
  margin-left: 2em;
  margin-top: 2em;

}

.designIcon {
/*  position: absolute;
  z-index: 0 !important;
  right: 1.85em;
  top: 3.3em;*/

  display: block;
  float: right;
  margin-right: 2em;
  margin-top: 2em;

}
.button {
  z-index: 2 !important;
  width: 200px;
}

.code {
  float: left;
  margin-left: 3.5em;
}

.design {
  float: right;
  margin-right: 3.5em;
}


/* Styling for responsiveness */
@media all and (max-width: 100%) {

}
@media only screen
and (min-width: 900px) {

}
@media only screen
and (min-width: 500px)
and (max-width: 800px) {

}
