
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700');

/*$primaryColor: #fff;*/

/* ----------------------- GENERAL STYLES ------------------------ */

html, body {
  margin: 0;
  padding: 0;

  /*background-color: #ffaacc;*/
  background: linear-gradient(90deg, #ffaacc, #e07694);
  background-size: cover;
  background-attachment: fixed;

/*   background: linear-gradient(90deg, #fff, #e07694);
   background-size: 200% 200%;

   -webkit-animation: BackgroundGradient 10s ease infinite;
   -moz-animation: BackgroundGradient 10s ease infinite;
   animation: BackgroundGradient 10s ease infinite;*/
}

@-webkit-keyframes BackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

p {
  color: #4A5DEC;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}

.container {
	width: 100vw;
	height: 100vh;
}

.backgroundTriangle {
  position: absolute;
  z-index: 0;
  float: left;
  bottom: 0;
  background-color: #4A5DEC;
  width: 60%;
  height: 70%;

  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

/* ----------------------- ABOUT STYLES ------------------------ */

.aboutContainer {
  position: relative;
  z-index: 1;

  margin-left: 10%;
  margin-top: 4%;

  padding-right: 1%;

  width: 54%;
  height: 87%;
  float: left;
  background-color: #fff; 
}

.aboutHeading {

  color: #4A5DEC;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 6em;

  padding-right: 3em;

  vertical-align: top;
  margin-top: 0.15em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: block;
  width: 100%;
}

.line {
  width: 85%;
  height: 0.25em;
  background-color: #4A5DEC;
  margin-left: 3.5em;
  border-radius: 10em;
}

.topWrapper {
  display: inline-block;
}

.portraitWrapper {
  position: relative;
  z-index: 1;

  width: 8em;
  height: 9em;
  overflow: hidden;
  border-radius: 100em;
  margin-top: 1.5em;
  margin-left: 4em;
  float: left;
}

.portrait {
  height: auto;
  width: 100%;
  margin-top: -2em;
}

.aboutText {
  margin-left: 11.5em;
  margin-right: 0.5em;
  margin-top: 3em;
  font-weight: 500;
  font-size: 1.2em;
}

@keyframes slideIn {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  75% {
    transform-origin: left;
    transform: scaleX(1.075);
  }  
  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}


/* ----------- STYLES FOR CONTENT AT BOTTOM OF ABOUT ---------- */

.bottomWrapper {
  position: relative;
  display: block;
  bottom: -1em;
  left: 2em;
}

.blocks {
  margin: 0;
}

.block1 {
  position: relative;
  z-index: 2;

  width: 12em;
  height: 12em;
  background-color: #e07694;
  float: left;
  margin-top: 3em;
  margin-left: -5em;
}

.block2 {
  position: relative;
  z-index: 3;

  width: 11em;
  height: 7em;
  background-color: #4A5DEC;
  float: left;
  margin-top: 9.5em;
  margin-left: -5em;
}

.block3 {
  position: relative;
  z-index: 2;

  width: 8em;
  height: 6em;
  background-color: #d95779;
  float: left;

  margin-top: 7.5em;
  margin-left: -2em;
}

.circle1 {
  position: relative;
  z-index: 3;

  width: 5em;
  height: 5em;
  background-color: #4A5DEC;
  float: left;
  border-radius: 50em;
  margin-top: 10em;
  margin-left: -3em;
}

.codeSnippet {
  width: 45%;
  /*height: 45%;*/
  /*transform: scale(0.55, 0.55);*/
  /*float: right;*/
  margin-top: 6em;
  margin-bottom: 0;
  margin-left: 4em;

  position: relative;
  z-index: 2;
}

/* ----------------------- PORTFOLIO STYLES ------------------------ */

.portfolioContainer {

  position: relative;
  z-index: 1;

  animation: slideIn 0.4s ease-out;
  margin-right: 10%;
  margin-top: 4%;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  background-color: #4A5DEC;
  width: 25%;
  height: 87%;
  float: right;
}

.portfolioHeading {
  vertical-align: top;
  text-align: center;
  margin-top: 0.25em;
  display: block;

  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 3em;
}

.iconWrapper {
  text-decoration: none;
  display: block;
  margin-left: 2em;
  margin-top: 2em;
}

.circle {
  width: 10em;
  height: 10em;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  background-color: #fff !important;
  animation: buttonFall 0.5s forwards;
}

.circle:hover {
  animation: buttonHover 0.5s forwards;
}

@keyframes buttonHover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1em);
  }
}

@keyframes buttonFall {
  0% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}

.codeIcon {
  width: 80%;
  position: relative;
  left: 1em;
  top: 2em;
}

.designIcon {
  width: 80%;
  position: relative;
  left: 1em;
  top: 3em;
}

.label {
  text-decoration: none;
  display: inline;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-size: 2em;
  margin-top: -3em;
  margin-left: 6em;
  float: left;
}

/* ----------------------- RESPONSIVE STYLES ------------------------ */

@media all and (max-width: 1350px) {
  .label {
    display: block;
    margin-top: 0.5em;
    margin-left: 1.5em;
  }

}

@media all and (max-width: 900px) and (max-device-width: 900px){
.aboutHeading { font-size: 5em; }
.portraitWrapper { margin-left: 2em; }
.aboutText { margin-left: 10em; }
.portfolioHeading { font-size: 2em; }
.circle { width: 7em; height: 7em; }
.codeIcon { top: 1.5em; left: 0.75em;}
.designIcon { top: 2em; left: 0.75em;}
.label { font-size: 1.5em; }
}

@media all and (max-width: 750px) and (max-device-width: 750px) {
  
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .aboutContainer {
    margin-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 50%;
    float: none;
  }

  .aboutHeading {
    padding-top: 0.25em;
    font-size: 2.75em;
  }

  .line {
    margin-left: 1em;
    width: 90%;
  }

  .aboutText {
    float: left;
    margin-top: 1em;
    margin-left: 1.5em;
    font-size: 1em;
    font-weight: 600;
  }

  .portraitWrapper {
    width: 6em;
    height: 6em;
    float: none;
    display: block;
    margin: auto;
    margin-top: 1em;
  }

  .portrait {
    margin-top: -1.5em;
  }

  .portfolioContainer { 
    position: relative;
    z-index: 3;
    float: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    height: 50%;
    border-radius: 0;
    background-color: #fff;
    padding-bottom: 1em;
    padding-top: 0.25em;
  }
  .portfolioHeading {
    font-size: 2em;
    color: #4A5DEC;
  }
  .iconWrapper {
    display: inline-flex;
    margin-top: 0.75em;
    margin-left: 3em;
    flex-direction: row;
  }

  .circle {
    width: 4em;
    height: 4em;
    float: none;
    margin: 0;
    margin-left: 0em;
    margin-right: 0em;
    border: 4px solid #4A5DEC;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  }

  .codeIcon { top: 0.85em; left: 0.4em;}
  .designIcon { top: 1.25em; left: 0.4em;}
  .designCircle { margin-left: -0.75em; }

  .label {
    margin-top: 1em;
    margin-left: 1.5em;
    font-weight: 600;
    color: #4A5DEC;
  }

  .divider {
    display: block;
    margin: auto;
    width: 80%;
    height: 0.1em;
    background-color: #4A5DEC;
    margin-top: 1em;
    margin-bottom: 0.5em;
    /*margin-left: 0.5em;*/
    border-radius: 10em;
  }

  .backgroundTriangle { 
    width: 100%;
    height: 100%;
    top: 5em;
    clip-path: polygon(0 0, 0 100%, 75% 100%);
    -webkit-clip-path: polygon(0 0, 0 100%, 75% 100%);
  }
}


